.main__hero{
    width: 100vw;
    height: calc(100vh -3rem);
    display: grid;
    place-items: center;
    margin-top: 15rem;
}
.main__hero-container{
    height: 100%;
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
}
.main__hero-left{
    margin-top: -3rem;
}
.main__hero-left h4{
    margin-bottom: 1rem;
    color: var(--color-secondary);
    font-weight: 400;
}
.main__hero-left p{
    margin: 1rem 0 3.5rem;
    font-size: 1.1rem;
}

.main__hero-right{
    display: grid;
    place-items: center;
    position: relative;
}
.main__hero-circle{
    width: 26rem;
    height: 26rem;
    background: linear-gradient(50deg, var(--color-primary), transparent);
    border-radius: 50%;
    position: absolute;
    transition: var(--transition);
}
.main__hero-img{
    position: relative;
}
.main__hero-right:hover .main__hero-circle{
    filter: blur(10px);

}

/* Media Queries MD */

@media screen and (max-width: 1024px) {
    .main__hero{
        height: fit-content;
        padding: 4rem 0;
    }
    .main__hero-circle {
        display: none;
    }

    .main__hero-img {
        z-index: -1;
        opacity: 0.3;
        margin-top: -25rem;
        margin-bottom: 0;
    }
    .main__hero-container{
        grid-template-columns: 1fr;
        gap: 0;
    }
    .main__hero-circle{
        width: 14rem;
        height: 14rem;
    }
}

/* Media Queries SM */

@media screen and (max-width: 580px) {
    .main__hero{
        margin-top: 3rem;
        padding: 2rem 0 0;
        height: 100vh;
    }
    .main__hero-img {
        margin-top: -40rem;
    }
}