footer{
    background: var(--color-primary);
    margin-top: rem;
    padding-top: 7rem;
    font-size: 0.9rem;
    color: var(--color-gray-100);
}
.footer__container{
    display: grid;
    grid-template-columns: 26rem repeat(3, 1fr);
    gap: 6rem;
}
.footer__container article{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}
.footer__container article p{
    margin-top: 0.5rem;
}
.footer__container article h4{
    margin-bottom: 0.6rem;
}
.footer__socials{
    margin-top: 1.3rem;
    display: flex;
    gap: 1rem;
    align-items: center;
}
.footer__socials a{
    background: var(--color-gray-100);
    padding: 0.6rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    border: 1px solid transparent;
    transition: var(--transition);
}
.footer__socials a svg{
    font-size: 1.6rem;
    color: var(--color-gray-600);
}
.footer__socials a:hover {
    border-color: var(--color-gray-100);
    background: transparent;
}
.footer__copyright{
    color: var(--color-gray-100);
    text-align: center;
    padding: 1rem 0;
    border-top: 1px solid var(--color-gray-300);
    margin-top: 1rem;
}

@media screen and (max-width: 1024px) {
    .footer__container {
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: 3rem;
    }
}
@media screen and (max-width: 580px) {
    .footer__container {
        align-items: center;
        grid-template-columns: 1fr;
        gap: 3rem;
    }
    .footer__container article{
        align-items: center;
    }
    .footer__container article p{
        text-align: center;
    }
}