/*  display: -webkit-box;
 -webkit-line-clamp: 3; */

 /* ADD in all boxes */


.visions{
    margin-top: 6rem;
}
.vision__container{
    display: grid;
    grid-template-columns: 38% 51%;
    gap: 11%;
}
.visions__image{
    margin-top: 4.5rem;
    filter: saturate(0.25);
    transition: var(--transition);
}
.visions__image:hover{
    filter: saturate(1);
}
.visions__right p{
    margin: 1rem 0 5rem;
}
.vision__wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem 2.4rem;
}
.card.vision{
    padding-top: 3rem;
    text-align: left;
    position: relative;
}
.card.vision span{
    position: absolute;
    top: -1.5rem;
}

/* Media queries */
@media screen and (max-width: 1024px) {
    .vision__container{
        grid-template-columns: 1fr;
        justify-content: center;
        gap: 4rem;
    }
    .vision__wrapper{
        gap: 4rem 3rem;
    }
    .visions__image{
        display: none;
    }
}
/* Media queries */
@media screen and (max-width: 580px) {
    .vision__wrapper{
        grid-template-columns: 1fr;
        justify-content: center;
        gap: 4rem;
    }
}