.programs{
    margin-top: 8.5rem;
}
.programs__wrapper{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
}

/* media queries  MD */
@media screen and (max-width: 1024px) {
    .programs__wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* media queries  MD */
@media screen and (max-width: 580px) {
    .programs {
        margin-top: -6rem;
    }
    .programs__wrapper {
        grid-template-columns: 1fr;
        gap: 2.2rem;
        margin-top: 2rem;
    }
    .programs_program{
        width: 95%;
        margin: 0 auto;
    }
}